*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 80%;
    margin: 10% auto;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products_holder{
    height: 350px;
    width: 80%;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.product_frame{
    width: 200px;
    height: 250px;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
}
.product_discount{
    width: 80px;
    height: 50px;
    background-color: red;
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 10px;
}
.product_title{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightslategrey;
}