* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

main {
    width: 80%;
    margin: 10% auto;
    padding: 20px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.option_area{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.option{
    width: 200px;
    height: 150px;
    background-color: lightgoldenrodyellow;
    cursor: pointer;
    border-radius: 10px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    font-size: 1.2rem;
}
.option:hover{
    background-color: white;
    border: 1px solid yellow;
}
.form_area{
    height: 380px;
    width: 90%;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#new_category{
    gap: 30px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: darkblue;
    border: 1px solid lightblue;
    color: white;
    transition: all 0.5s ease;
}
input{
    height: 30px;
}
button:hover{
    background-color: lightcyan;
    border: 1px solid darkblue;
    color: darkblue;
}
.preview_container{
    width: 90%;
    height: fit-content;
    background-color:aqua;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title_container{
    height: 40px;
    background-color: salmon;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title_container h2{
    display: inline;
    margin-left: 50px;
}
.banner_container{
    height: 50px;
    width: 100%;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner_container span{
    color: white;
    font-size: 1.3rem;
    margin-left: 50px;
}
.stand_container{
    height: 140px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.stand{
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: lightgreen;
    overflow: hidden;
}
.button{
    color: white;
    background-color: lightskyblue;
    cursor: pointer;
    padding-top: 58px;
    padding-bottom: 58px;
}
.product{
    height: 140px;
    width: 110px;
    flex-shrink: 0;
    background-color: lightseagreen;
    position: relative;
    cursor: pointer;
}
.product span{
    font-size: 0.8rem;
    text-align: center;
}
.product_image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: blueviolet;
}
.product_discount_tag{
    width: 60px;
    height: 35px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}
.product_title_container{
    width: 100%;
    height: 40px;
    background-color: lightpink;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.add_product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
    width: 110px;
    cursor: pointer;
    background-color: orange;
}
.add_product span{
    display: inline;
    justify-content: center;
    text-align: center;
}
.inventario{
    display: grid;
    height: fit-content;
    margin: 50px 0;
    width: 90%;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    padding: 20px;
    box-shadow: 0px 0px 71px -18px #231F20;
    border-radius: 10px;
}
.hidden{
    display: none;
}

